{% extends 'main.html' %}

{% block content %}

<div class="home-container">

    <div class="category-container">
        {% include 'base/category_component.html' %}
    </div>


    <div class="auctions-container">
        <div class="auction-title">
        <h3>Available auctions ({{auction_count}})</h3>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search Auctions" class="search-bar">
        </form>
        </div>
        <hr>
    

        <div>
            {% include 'base/auction_component.html' %}
        </div>
    </div>
    
</div>
{% endblock content %}